body,
html {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.question {
  background-size: contain !important;
  background-origin: content-box !important;
  padding: 15px;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.answer {
  background-size: contain !important;
  background-origin: content-box !important;
  padding: 8px;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
input[type="radio"] + label {
  transition: background 0.2s, transform 0.2s;
}
input[type="radio"]:hover + label span.option-num {
  @apply bg-purple text-white;
}
input[type="radio"]:checked + label span.option-num {
  @apply bg-purple text-white;
}

.btn-purple {
  @apply text-sm md:text-base border border-purple bg-purple hover:bg-transparent hover:text-purple text-white rounded-md transition-all duration-200;
}
.btn-purple-outline {
  @apply text-sm md:text-base border border-purple hover:bg-purple bg-transparent text-purple hover:text-white rounded-md transition-all duration-200;
}
.btn-purple-outline:disabled {
  @apply text-sm md:text-base border border-grey hover:bg-white bg-transparent text-grey rounded-md transition-all duration-200 cursor-default;
}
.quiz-num-counter a {
  @apply flex justify-center items-center w-6 md:h-9 h-6 md:w-9 rounded-full bg-purple-lighter text-dark-blue text-xs md:text-sm font-medium;
}
.quiz-num-counter a:hover {
  @apply bg-purple-light text-white;
}
.quiz-num-counter a.active {
  @apply bg-purple text-white;
}
.quiz-num-counter a.completed {
  @apply bg-yellow;
}
.quiz-num-counter a.skipped {
  @apply bg-grey;
}

@supports (-webkit-touch-callout: none) {
  .wrapper {
    padding-bottom: 10.5rem !important;
  }
  .question {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  @supports (-webkit-touch-callout: none) {
    .wrapper {
      padding-bottom: 4.5rem !important;
    }
  }
}
@media screen and (min-width: 768px) {
  @supports (-webkit-touch-callout: none) {
    .question {
      margin-bottom: 9px !important;
    }
    .answer {
      margin: 2px !important;
      margin-bottom: 7px !important;
    }
  }
}
@media screen and (min-width: 1024px) {
  _::-webkit-full-page-media,
  _:future,
  :root .content-wrapper {
    height: 50vh !important;
  }
}

/* For Orientation: 'Landscape' Lock  */
/* @media only screen and (max-width: 768px) and (orientation: landscape) {
  #turn {
    display: block;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  #turn {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  #turn {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  #turn {
    display: none;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
